.search-container {
  padding: 10px;
  width: 50%;
  background-culor: rgba(207, 194, 71, 0.5);
  // float: left;

  input {
    margin: 5px auto 30px;
  }
  div .sort-setting {
    text-align: left;
    .sort-param {
      margin-left: 30px;
      font-size: 12px;
    }
  }

  ul {
    li:hover {
      background: #F6A38B;
      color: #fff;
    }
    button {
      float: right;
    }
  }
  .watchers_count {
    margin-left: 10px;
    color: rgb(231, 148, 51);
    float: right;
  }
}
