.search-container {
  padding: 10px;
  width: 50%;

  input {
    margin: 5px auto 12px;
    display: block;
  }
  div .sort-setting {
    text-align: left;

    .sort-param {
      margin-left: 30px;
      font-size: 12px;
    }
  }
  ul {
    li:hover {
      background: #F6A38B;
      color: #fff;
    }
    .watchers_count {
      margin-left: 10px;
      color: #F6A38B;
      float: right;
    }
    li:hover .watchers_count {
      color: #fff;
    }
  }
}
