.watch-container {
  padding: 10px;
  width: 50%;
  // background-color: rgba(227, 89, 30, 0.28);
  // float: right;

  .btn-watched-update {
    margin: 5px auto 30px;
  }

  ul {
    li:hover {
      background: #81d0cb;
      color: #fff;
    }
  }
}
