.watch-container {
  padding: 10px;
  width: 50%;

  .btn-watched {
    margin: 5px auto 30px;
  }

  ul {
    counter-reset: list;
    list-style-type: none;
    font: 14px/1.6 'arial narrow', sans-serif;
    padding: 0;

    li {
      position: relative;
      margin: 7px 0 7px 0px;
      padding-left: 40px;
      font-weight: bold;
      font-size: 14px;
      line-height: 30px;
      // border: solid 1px #81d0cb;
      border-radius: 20px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
      text-align: left;
    }
    li:before {
      counter-increment: list;
      content: counter(list);
      position: absolute;
      left: 0px;
      width: 30px;
      height: 30px;
      text-align: left;
      color: #fff;
      line-height: 30px;
      background: #81d0cb;
      border-radius: 50%;
      top: 50%;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    li:hover {
      background: #81d0cb;
      color: #fff;
    }
    li:hover:before {
      background: #fff;
      color: #81d0cb;
    }
  }

  .avatar {
    border-radius: 5px 5px 0 0;
    height: 1em;
    margin-right: 10px;
  }
}
